<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Shopping Cart</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
<body>
  <div class="container text-center" style="margin-top: 50px; margin-bottom: 20%;" *ngIf="orders.length==0">
		<h3>Your don't have any orders</h3>
		<p>Add some items to your cart and make an order :)</p>
	  </div>
  <div class="container" style="margin-bottom: 12%;" *ngIf="orders.length!=0">
    <h1>Orders List</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Created Date</th>
          <th>Num of Items</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let order of orders ; let i=index">
            <tr>
              <td>{{order.created_date | date:'dd-MM-yyyy , hh:mm'}}</td>
              <td>{{order.num_of_items}}</td>
              <td>{{order.total}} $</td>
              <td><a style="margin-left: 30%; color: whitesmoke;" class="btn btn-primary" (click)="onChangeOrderIndex(i)">
                {{ i === orderIndex ? 'Hide Order Items' : 'View Order Items' }}
              </a></td>
            </tr>
            <tr *ngIf="orderIndex==i">
              <td colspan="4">
                <div class="order-details">
                    <app-order-details [order_id]="order.id"></app-order-details>
                </div>
              </td>
            </tr>
          </ng-container>
      </tbody>
    </table>
  </div>
</body>
</html>

