h1{
    font-size: 4em;
}
.price{
    font-size: 2em;
}
.details{
    margin-top: 7%;
}
.add-btn{
    background-color: var(--petrol-color);
}
.alert{
    background-color: #f26e49;
    color: whitesmoke;
    font-size: 1.4em;
}
