<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container" style="margin-bottom: 10%;">
    <div class="row">
      <div class="col-md-6">
        <img src="{{selectedProduct.img}}" alt="Product Image" class="img-fluid">
      </div>
      <div class="col-md-6 details">
        <h1>{{selectedProduct.name}}</h1>
        <p class="price">{{selectedProduct.price}} $</p>
        <hr>
        <p class="description">{{selectedProduct.description}}</p>
        <div class="row" style="margin-left: 10%; margin-top: 10%;" >
          <button class="btn btn-primary col-md-9" style="margin-right: 3%; height: 3em;" (click)="addToCart()" [disabled]="!canBuy">
            {{canBuy?'Add to Cart':'Item Already in your cart'}}
          </button>
          <input type="number" name="quan" id="quan" class="form-control col-md-2" style="height: 3em;" value="1" [(ngModel)]="quantity">
        </div>
      </div>
    </div>
  </div>

</body>

</html>